.bg-black {
  background-color: #2b2b2c !important;
}

.bg-green {
  background-color: #1dcc89 !important;
}


.bg-gray {
  background-color: #333336 !important;
}

.bg-blue {
  background-color: #9d6bf8 !important;
}